{% extends "base.html" %}
{# {% load staticfiles %} #}
{% load static %}

{% block head %}
<title>Networking</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
 {% endblock %}

 {% block content %}

 <br><br><br><br>
  <center>
  <font color="#686868" size="5" face="Comic Sans MS,Arial,Verdana">HABILIDADES</font>
   <br>
  <img src="{% static 'images/habilidad.JPG'%}" height='340' width='390'>
  </center>

 {% if not request.user.is_authenticated %}

 {% endif %}

 {% if request.user.is_authenticated %}
 {% endif %}

<font size="3">
<table class="table table-bordered">
	<thead>
        <tr>
			<th bgcolor="#F5DA81">ID</th>
			<th bgcolor="#F5DA81">HABILIDAD</th>
			<th bgcolor="#F5DA81">NIVEL</th>
            <th bgcolor="#F5DA81">COMENTARIO</th>
        </tr>
		</thead>
		<tbody>
        {% for r in habilidades_list %}
            <td> {{ r.id }} </td>
            <td> {{ r.habilidad }} </td>
            <td> {{ r.nivel }} </td>
            <td> {{ r.comentario }} </td>

             <form action="" method="post">
                {% csrf_token %}
                 <!-- Enlace a la vista para ver la habilidad -->
                <td><a class='btn btn-primary btn-sm' href="{% url 'ver_habilidad' id=r.id %}">VER</a></td>

                <!-- Enlace a la vista para eliminar la habilidad -->
                <td><a class='btn btn-danger btn-sm' href="{% url 'eliminar_habilidad' pk=r.id %}">ANULAR</a></td>

                <!-- Enlace a la vista de edición (puedes cambiar 'home' si es necesario) -->
                <td><a class='btn btn-success btn-sm' href="{% url 'editar_habilidad' pk=r.id %}">EDITAR</a></td>
            </form>
            <td> {{ r.categoria}} </td><
          </tr>
        {% endfor %}
		 </tbody>
    </table>
</font>

{% if habilidades_list.has_other_pages %}
<font size="4">
  <ul class="pagination">
    {% if habilidades_list.has_previous %}
      <li><a href="?page={{ habilidades_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in habilidades_list.paginator.page_range %}
      {% if reservas.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if habilidades_list.has_next %}
      <li><a href="?page={{ habilidades_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span></span></li>
    {% endif %}
  </ul>
</font>
{% endif %}
{% endblock content %}
