{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Proyectos</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/examen.css' %}">
{% endblock %}

{% block content %}
<br><br><br><br><br>
<h1>Proyectos</h1>
<a href="{% url 'crear_proyecto' %}" class="btn btn-primary">Añadir Proyecto</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>HABILIDAD</th>
            <th>NIVEL</th>
            <th>COMENTARIO</th>
        </tr>
    </thead>
    <tbody>
        {% for proyecto in proyectos %}
        <tr>
            <td>{{ proyecto.id }}</td>
            <td>{{ proyecto.titulo }}</td>
            <td>{{ proyecto.lenguaje }}</td>
            <td>
                <a href="{% url 'editar_proyecto' proyecto.id %}" class="btn btn-edit btn-sm">Editar</a>
                <form action="{% url 'eliminar_proyecto' proyecto.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-delete btn-sm">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


